/* Bootstrap */
@import 'bootstrap/dist/css/bootstrap.css';

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}
